<ion-view view-title="سورة الفاتحة ">
  <ion-content style="direction:rtl">
    <center><h2>سورة الفاتحة</h2></center>


    <b style="background-color:#b6d8f1;" id="b6d8f1" ng-click="b6d8f1()">
      الْحَمْدُ لِلَّهِ رَبِّ الْعَالَمِينَ ﴿2﴾
    </b>

    <b style="background-color:#b6d8f1;" id="b6d8f1" ng-click="b6d8f1()">
      الرَّحْمَٰنِ الرَّحِيمِ ﴿3﴾
    </b>

    <b style="background-color:#b6d8f1;" id="b6d8f1" ng-click="b6d8f1()">
      مَالِكِ يَوْمِ الدِّينِ ﴿4﴾
    </b>

    <b style="background-color:#b1acca;" id="b1acca" ng-click="b1acca()">
      إِيَّاكَ نَعْبُدُ وَإِيَّاكَ نَسْتَعِينُ ﴿5﴾
    </b>

    <b style="background-color:#b1acca;" id="b1acca" ng-click="b1acca()">
      اهْدِنَا الصِّرَاطَ الْمُسْتَقِيمَ ﴿6﴾
    </b>

    <b style="background-color:#fbf6c4;" id="fbf6c4" ng-click="fbf6c4()">
      صِرَاطَ الَّذِينَ أَنْعَمْتَ عَلَيْهِمْ غَيْرِ الْمَغْضُوبِ عَلَيْهِمْ وَلَا الضَّالِّينَ ﴿7﴾
    </b>

  </ion-content>
</ion-view> 
