<ion-view view-title="سورة يوسف  ">
  <ion-content style="direction: rtl;">
    <center><h2>سورة يوسف</h2></center>
    <b style="background-color: #d0c6de;" id="d0c6de" ng-click="d0c6de()">
      الر ۚ تِلْكَ آيَاتُ الْكِتَابِ الْمُبِينِ ﴿1﴾ إِنَّا أَنْزَلْنَاهُ
      قُرْآنًا عَرَبِيًّا لَعَلَّكُمْ تَعْقِلُونَ ﴿2﴾ نَحْنُ نَقُصُّ عَلَيْكَ
      أَحْسَنَ الْقَصَصِ بِمَا أَوْحَيْنَا إِلَيْكَ هَٰذَا الْقُرْآنَ وَإِنْ
      كُنْتَ مِنْ قَبْلِهِ لَمِنَ الْغَافِلِينَ ﴿3﴾
    </b>

    <b style="background-color: #fff9cd;" id="fff9cd" ng-click="fff9cd()">
      إِذْ قَالَ يُوسُفُ لِأَبِيهِ يَا أَبَتِ إِنِّي رَأَيْتُ أَحَدَ عَشَرَ
      كَوْكَبًا وَالشَّمْسَ وَالْقَمَرَ رَأَيْتُهُمْ لِي سَاجِدِينَ ﴿4﴾ قَالَ
      يَا بُنَيَّ لَا تَقْصُصْ رُؤْيَاكَ عَلَىٰ إِخْوَتِكَ فَيَكِيدُوا لَكَ
      كَيْدًا ۖ إِنَّ الشَّيْطَانَ لِلْإِنْسَانِ عَدُوٌّ مُبِينٌ ﴿5﴾ وَكَذَٰلِكَ
      يَجْتَبِيكَ رَبُّكَ وَيُعَلِّمُكَ مِنْ تَأْوِيلِ الْأَحَادِيثِ وَيُتِمُّ
      نِعْمَتَهُ عَلَيْكَ وَعَلَىٰ آلِ يَعْقُوبَ كَمَا أَتَمَّهَا عَلَىٰ
      أَبَوَيْكَ مِنْ قَبْلُ إِبْرَاهِيمَ وَإِسْحَاقَ ۚ إِنَّ رَبَّكَ عَلِيمٌ
      حَكِيمٌ ﴿6﴾
    </b>

    <b style="background-color: #fdf4a3;" id="fdf4a3" ng-click="fdf4a3()">
      لَقَدْ كَانَ فِي يُوسُفَ وَإِخْوَتِهِ آيَاتٌ لِلسَّائِلِينَ ﴿7﴾ إِذْ
      قَالُوا لَيُوسُفُ وَأَخُوهُ أَحَبُّ إِلَىٰ أَبِينَا مِنَّا وَنَحْنُ
      عُصْبَةٌ إِنَّ أَبَانَا لَفِي ضَلَالٍ مُبِينٍ ﴿8﴾ اقْتُلُوا يُوسُفَ أَوِ
      اطْرَحُوهُ أَرْضًا يَخْلُ لَكُمْ وَجْهُ أَبِيكُمْ وَتَكُونُوا مِنْ
      بَعْدِهِ قَوْمًا صَالِحِينَ ﴿9﴾ قَالَ قَائِلٌ مِنْهُمْ لَا تَقْتُلُوا
      يُوسُفَ وَأَلْقُوهُ فِي غَيَابَتِ الْجُبِّ يَلْتَقِطْهُ بَعْضُ
      السَّيَّارَةِ إِنْ كُنْتُمْ فَاعِلِينَ ﴿10﴾
    </b>

    <b style="background-color: #fcf5cb;" id="#fcf5cb" ng-click="fcf5cb()">
      قَالُوا يَا أَبَانَا مَا لَكَ لَا تَأْمَنَّا عَلَىٰ يُوسُفَ وَإِنَّا لَهُ
      لَنَاصِحُونَ ﴿11﴾ أَرْسِلْهُ مَعَنَا غَدًا يَرْتَعْ وَيَلْعَبْ وَإِنَّا
      لَهُ لَحَافِظُونَ ﴿12﴾ قَالَ إِنِّي لَيَحْزُنُنِي أَنْ تَذْهَبُوا بِهِ
      وَأَخَافُ أَنْ يَأْكُلَهُ الذِّئْبُ وَأَنْتُمْ عَنْهُ غَافِلُونَ ﴿13﴾
      قَالُوا لَئِنْ أَكَلَهُ الذِّئْبُ وَنَحْنُ عُصْبَةٌ إِنَّا إِذًا
      لَخَاسِرُونَ ﴿14﴾ فَلَمَّا ذَهَبُوا بِهِ وَأَجْمَعُوا أَنْ يَجْعَلُوهُ فِي
      غَيَابَتِ الْجُبِّ ۚ وَأَوْحَيْنَا إِلَيْهِ لَتُنَبِّئَنَّهُمْ
      بِأَمْرِهِمْ هَٰذَا وَهُمْ لَا يَشْعُرُونَ ﴿15﴾
    </b>

    <b style="background-color: #fdf4a3;" id="fdf4a3" ng-click="fdf4a3()">
      وَجَاءُوا أَبَاهُمْ عِشَاءً يَبْكُونَ ﴿16﴾ قَالُوا يَا أَبَانَا إِنَّا
      ذَهَبْنَا نَسْتَبِقُ وَتَرَكْنَا يُوسُفَ عِنْدَ مَتَاعِنَا فَأَكَلَهُ
      الذِّئْبُ ۖ وَمَا أَنْتَ بِمُؤْمِنٍ لَنَا وَلَوْ كُنَّا صَادِقِينَ ﴿17﴾
      وَجَاءُوا عَلَىٰ قَمِيصِهِ بِدَمٍ كَذِبٍ ۚ قَالَ بَلْ سَوَّلَتْ لَكُمْ
      أَنْفُسُكُمْ أَمْرًا ۖ فَصَبْرٌ جَمِيلٌ ۖ وَاللَّهُ الْمُسْتَعَانُ عَلَىٰ
      مَا تَصِفُونَ ﴿18﴾ وَجَاءَتْ سَيَّارَةٌ فَأَرْسَلُوا وَارِدَهُمْ
      فَأَدْلَىٰ دَلْوَهُ ۖ قَالَ يَا بُشْرَىٰ هَٰذَا غُلَامٌ ۚ وَأَسَرُّوهُ
      بِضَاعَةً ۚ وَاللَّهُ عَلِيمٌ بِمَا يَعْمَلُونَ ﴿19﴾
    </b>

    <b style="background-color: #fef9d2;" id="fef9d2" ng-click="fef9d2()">
      وَشَرَوْهُ بِثَمَنٍ بَخْسٍ دَرَاهِمَ مَعْدُودَةٍ وَكَانُوا فِيهِ مِنَ
      الزَّاهِدِينَ ﴿20﴾ وَقَالَ الَّذِي اشْتَرَاهُ مِنْ مِصْرَ لِامْرَأَتِهِ
      أَكْرِمِي مَثْوَاهُ عَسَىٰ أَنْ يَنْفَعَنَا أَوْ نَتَّخِذَهُ وَلَدًا ۚ
      وَكَذَٰلِكَ مَكَّنَّا لِيُوسُفَ فِي الْأَرْضِ وَلِنُعَلِّمَهُ مِنْ
      تَأْوِيلِ الْأَحَادِيثِ ۚ وَاللَّهُ غَالِبٌ عَلَىٰ أَمْرِهِ وَلَٰكِنَّ
      أَكْثَرَ النَّاسِ لَا يَعْلَمُونَ ﴿21﴾ وَلَمَّا بَلَغَ أَشُدَّهُ
      آتَيْنَاهُ حُكْمًا وَعِلْمًا ۚ وَكَذَٰلِكَ نَجْزِي الْمُحْسِنِينَ ﴿22﴾
    </b>

    <b style="background-color: #faf2be;" id="faf2be" ng-click="faf2be()">
      وَرَاوَدَتْهُ الَّتِي هُوَ فِي بَيْتِهَا عَنْ نَفْسِهِ وَغَلَّقَتِ
      الْأَبْوَابَ وَقَالَتْ هَيْتَ لَكَ ۚ قَالَ مَعَاذَ اللَّهِ ۖ إِنَّهُ
      رَبِّي أَحْسَنَ مَثْوَايَ ۖ إِنَّهُ لَا يُفْلِحُ الظَّالِمُونَ ﴿23﴾
      وَلَقَدْ هَمَّتْ بِهِ ۖ وَهَمَّ بِهَا لَوْلَا أَنْ رَأَىٰ بُرْهَانَ
      رَبِّهِ ۚ كَذَٰلِكَ لِنَصْرِفَ عَنْهُ السُّوءَ وَالْفَحْشَاءَ ۚ إِنَّهُ
      مِنْ عِبَادِنَا الْمُخْلَصِينَ ﴿24﴾ وَاسْتَبَقَا الْبَابَ وَقَدَّتْ
      قَمِيصَهُ مِنْ دُبُرٍ وَأَلْفَيَا سَيِّدَهَا لَدَى الْبَابِ ۚ قَالَتْ مَا
      جَزَاءُ مَنْ أَرَادَ بِأَهْلِكَ سُوءًا إِلَّا أَنْ يُسْجَنَ أَوْ عَذَابٌ
      أَلِيمٌ ﴿25﴾ قَالَ هِيَ رَاوَدَتْنِي عَنْ نَفْسِي ۚ وَشَهِدَ شَاهِدٌ مِنْ
      أَهْلِهَا إِنْ كَانَ قَمِيصُهُ قُدَّ مِنْ قُبُلٍ فَصَدَقَتْ وَهُوَ مِنَ
      الْكَاذِبِينَ ﴿26﴾ وَإِنْ كَانَ قَمِيصُهُ قُدَّ مِنْ دُبُرٍ فَكَذَبَتْ
      وَهُوَ مِنَ الصَّادِقِينَ ﴿27﴾ فَلَمَّا رَأَىٰ قَمِيصَهُ قُدَّ مِنْ دُبُرٍ
      قَالَ إِنَّهُ مِنْ كَيْدِكُنَّ ۖ إِنَّ كَيْدَكُنَّ عَظِيمٌ ﴿28﴾ يُوسُفُ
      أَعْرِضْ عَنْ هَٰذَا ۚ وَاسْتَغْفِرِي لِذَنْبِكِ ۖ إِنَّكِ كُنْتِ مِنَ
      الْخَاطِئِينَ ﴿29﴾
    </b>

    <b style="background-color: #f9f5d8;" id="f9f5d8" ng-click="f9f5d8()">
      وَقَالَ نِسْوَةٌ فِي الْمَدِينَةِ امْرَأَتُ الْعَزِيزِ تُرَاوِدُ فَتَاهَا
      عَنْ نَفْسِهِ ۖ قَدْ شَغَفَهَا حُبًّا ۖ إِنَّا لَنَرَاهَا فِي ضَلَالٍ
      مُبِينٍ ﴿30﴾ فَلَمَّا سَمِعَتْ بِمَكْرِهِنَّ أَرْسَلَتْ إِلَيْهِنَّ
      وَأَعْتَدَتْ لَهُنَّ مُتَّكَأً وَآتَتْ كُلَّ وَاحِدَةٍ مِنْهُنَّ سِكِّينًا
      وَقَالَتِ اخْرُجْ عَلَيْهِنَّ ۖ فَلَمَّا رَأَيْنَهُ أَكْبَرْنَهُ
      وَقَطَّعْنَ أَيْدِيَهُنَّ وَقُلْنَ حَاشَ لِلَّهِ مَا هَٰذَا بَشَرًا إِنْ
      هَٰذَا إِلَّا مَلَكٌ كَرِيمٌ ﴿31﴾ قَالَتْ فَذَٰلِكُنَّ الَّذِي
      لُمْتُنَّنِي فِيهِ ۖ وَلَقَدْ رَاوَدْتُهُ عَنْ نَفْسِهِ فَاسْتَعْصَمَ ۖ
      وَلَئِنْ لَمْ يَفْعَلْ مَا آمُرُهُ لَيُسْجَنَنَّ وَلَيَكُونًا مِنَ
      الصَّاغِرِينَ ﴿32﴾
    </b>

    <b style="background-color: #fbefb3;" id="fbefb3" ng-click="fbefb3()">
      قَالَ رَبِّ السِّجْنُ أَحَبُّ إِلَيَّ مِمَّا يَدْعُونَنِي إِلَيْهِ ۖ
      وَإِلَّا تَصْرِفْ عَنِّي كَيْدَهُنَّ أَصْبُ إِلَيْهِنَّ وَأَكُنْ مِنَ
      الْجَاهِلِينَ ﴿33﴾ فَاسْتَجَابَ لَهُ رَبُّهُ فَصَرَفَ عَنْهُ كَيْدَهُنَّ ۚ
      إِنَّهُ هُوَ السَّمِيعُ الْعَلِيمُ ﴿34﴾ ثُمَّ بَدَا لَهُمْ مِنْ بَعْدِ مَا
      رَأَوُا الْآيَاتِ لَيَسْجُنُنَّهُ حَتَّىٰ حِينٍ ﴿35﴾
    </b>

    <b style="background-color: #fdf3d5;" id="fdf3d5" ng-click="fdf3d5()">
      وَدَخَلَ مَعَهُ السِّجْنَ فَتَيَانِ ۖ قَالَ أَحَدُهُمَا إِنِّي أَرَانِي
      أَعْصِرُ خَمْرًا ۖ وَقَالَ الْآخَرُ إِنِّي أَرَانِي أَحْمِلُ فَوْقَ
      رَأْسِي خُبْزًا تَأْكُلُ الطَّيْرُ مِنْهُ ۖ نَبِّئْنَا بِتَأْوِيلِهِ ۖ
      إِنَّا نَرَاكَ مِنَ الْمُحْسِنِينَ ﴿36﴾ قَالَ لَا يَأْتِيكُمَا طَعَامٌ
      تُرْزَقَانِهِ إِلَّا نَبَّأْتُكُمَا بِتَأْوِيلِهِ قَبْلَ أَنْ
      يَأْتِيَكُمَا ۚ ذَٰلِكُمَا مِمَّا عَلَّمَنِي رَبِّي ۚ إِنِّي تَرَكْتُ
      مِلَّةَ قَوْمٍ لَا يُؤْمِنُونَ بِاللَّهِ وَهُمْ بِالْآخِرَةِ هُمْ
      كَافِرُونَ ﴿37﴾ وَاتَّبَعْتُ مِلَّةَ آبَائِي إِبْرَاهِيمَ وَإِسْحَاقَ
      وَيَعْقُوبَ ۚ مَا كَانَ لَنَا أَنْ نُشْرِكَ بِاللَّهِ مِنْ شَيْءٍ ۚ
      ذَٰلِكَ مِنْ فَضْلِ اللَّهِ عَلَيْنَا وَعَلَى النَّاسِ وَلَٰكِنَّ أَكْثَرَ
      النَّاسِ لَا يَشْكُرُونَ ﴿38﴾ يَا صَاحِبَيِ السِّجْنِ أَأَرْبَابٌ
      مُتَفَرِّقُونَ خَيْرٌ أَمِ اللَّهُ الْوَاحِدُ الْقَهَّارُ ﴿39﴾ مَا
      تَعْبُدُونَ مِنْ دُونِهِ إِلَّا أَسْمَاءً سَمَّيْتُمُوهَا أَنْتُمْ
      وَآبَاؤُكُمْ مَا أَنْزَلَ اللَّهُ بِهَا مِنْ سُلْطَانٍ ۚ إِنِ الْحُكْمُ
      إِلَّا لِلَّهِ ۚ أَمَرَ أَلَّا تَعْبُدُوا إِلَّا إِيَّاهُ ۚ ذَٰلِكَ
      الدِّينُ الْقَيِّمُ وَلَٰكِنَّ أَكْثَرَ النَّاسِ لَا يَعْلَمُونَ ﴿40﴾ يَا
      صَاحِبَيِ السِّجْنِ أَمَّا أَحَدُكُمَا فَيَسْقِي رَبَّهُ خَمْرًا ۖ
      وَأَمَّا الْآخَرُ فَيُصْلَبُ فَتَأْكُلُ الطَّيْرُ مِنْ رَأْسِهِ ۚ قُضِيَ
      الْأَمْرُ الَّذِي فِيهِ تَسْتَفْتِيَانِ ﴿41﴾ وَقَالَ لِلَّذِي ظَنَّ
      أَنَّهُ نَاجٍ مِنْهُمَا اذْكُرْنِي عِنْدَ رَبِّكَ فَأَنْسَاهُ الشَّيْطَانُ
      ذِكْرَ رَبِّهِ فَلَبِثَ فِي السِّجْنِ بِضْعَ سِنِينَ ﴿42﴾
    </b>

    <b style="background-color: #f8f0bf;" id="f8f0bf" ng-click="f8f0bf()"> </b>

    <b style="background-color: #f9f4de;" id="f9f4de" ng-click="f9f4de()"> </b>

    <b style="background-color: #d9ecfb;" id="d9ecfb" ng-click="d9ecfb()"> </b>

    <b style="background-color: #f7eac0;" id="f7eac0" ng-click="f7eac0()"> </b>

    <b style="background-color: #fbf9e2;" id="fbf9e2" ng-click="fbf9e2()"> </b>

    <b style="background-color: #feebc5;" id="feebc5" ng-click="feebc5()"> </b>

    <b style="background-color: #f8f3df;" id="f8f3df" ng-click="f8f3df()"> </b>

    <b style="background-color: #d9cede;" id="d9cede" ng-click="d9cede()"> </b>

    <b style="background-color: #fef1bc;" id="fef1bc" ng-click="fef1bc()"> </b>

    <b style="background-color: #fdf4d7;" id="fdf4d7" ng-click="fdf4d7()"> </b>

    <b style="background-color: #bdaac8;" id="bdaac8" ng-click="bdaac8()"> </b>

    <b style="background-color: #dbd1e9;" id="dbd1e9" ng-click="dbd1e9()"> </b>

    <b style="background-color: #bca9c5;" id="bca9c5" ng-click="bca9c5()"> </b>

    <b style="background-color: #fdf0b9;" id="fdf0b9" ng-click="fdf0b9()"> </b>

    <b style="background-color: #e0d7e8;" id="e0d7e8" ng-click="e0d7e8()"> </b>

    <b style="background-color: #faf4e4;" id="faf4e4" ng-click="faf4e4()"> </b>
  </ion-content>
</ion-view>
