.basmalah {
	background-color: #738494;
	color: #ddd;
	width: 100%;
	text-align: center;
	padding: 10px;
	font-size: 28px;
	font-weight: 300;
	font-family: 'Segoe UI', Roboto, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.sura-ayat {
	text-align: justify;
	text-justify: inter-word;
}
.sura-ayat b {
	padding: 10px;
	line-height: 3;
	word-spacing: 1px;
	font-size: 14px;
	font-weight: normal;
}
