/* Empty. Add your own CSS if you like */
b{
    color:black;
    word-spacing: 15%;
    line-height: 1.9;
font-size: 14px;
text-align:justify;
 text-justify: inter-word;
 float: right;
 padding: 10px;
 border-left: 2px solid #999;
font-weight: normal;
border-right: 2px solid #999;
 
}
*{
    font-family: 'Cairo', sans-serif;
}

h2{
    font-size: 30px;
    margin-bottom: 0px;

background: #000;

color: #fff;

padding: 10px;
}/* Empty. Add your own CSS if you like */
