/* Empty. Add your own CSS if you like */
b {
  color: black;
  word-spacing: 15%;
  line-height: 3;
  font-size: 14px;
  text-align: justify;
  text-justify: inter-word;
  padding: 10px;
  font-weight: normal;
}

* {
  font-family: "Cairo", sans-serif;
}

h2 {
  font-size: 30px;
  margin-bottom: 0px;

  background: #000;

  color: #fff;

  padding: 10px;
} /* Empty. Add your own CSS if you like */

ion-content {
  text-align: justify;
  direction: rtl;
}



ion-content h1,
ion-content p{
  margin-right: 1%
}
